.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  backdrop-filter: blur(5px);
  background-color: #ffffff00;
}

#backgnd {
  width: 90%;
  height: 25%;
  margin: 0 auto;
  border-radius: 0.5rem;
  background-color: #fff;
  animation: modal-show 0.3s;
  overflow: hidden;
  text-align: center;
}

.headerbutton {
  position: absolute;
  top: 0.9rem;
  right: 0.9rem;
  font-size: 1.3rem;
  font-weight: 700;
  color: rgb(0, 0, 0);
  background-color: transparent;
  border: 0;
}

.footerButton {
  position: relative;
  padding: 0.3rem 0.9rem;
  margin: 0.15rem;
  top: 1.5rem;
  bottom: 0rem;
  color: #fff;
  background-color: #6c757d;
  border-radius: 0.5rem;
  font-family: "Yeon Sung", cursive;
  font-size: 1.5rem;
  border: 0;
}

.modal>section>header {
  position: relative;
  padding: 0.9rem 0rem 0.8rem 0rem;
  background-color: #d4d4d4;
  font-family: "Yeon Sung", cursive;
  font-weight: 1000;
  font-size: 1.5rem;
  text-align: center;
}

.modalMain {
  padding: 1.2rem 2rem 0rem 2rem;
  font-family: "Yeon Sung", cursive;
  font-weight: 500;
  font-size: 1.3rem;
  white-space: pre-line;
}

.modal.openModal {
  display: flex;
  align-items: center;
  animation: modal-bg-show 0.3s;
}

@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }

  to {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes modal-bg-show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}