.histMainText {
  position: relative;
  margin: auto;
  top: -1rem;
  font-size: 6.5rem;
  width: fit-content;
  color: rgb(0, 0, 0);
  text-shadow: 4px 4px #ffffff;
}
.tableLine {
  width: 96.7%;
  height: 2px;
  margin: -0.5% auto 0.5% 2%;
  border: 0;
  border-top: 3px dashed rgb(148, 148, 148);
  /* background-color: rgb(148, 148, 148); */
}
.historyBox {
  position: relative;
  text-align: center;
  /* background-image: url(../../public/img/씬3.png); */
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
}

.historyContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.historytitle {
  background-color: rgb(194, 224, 245);
  width: 88%;
  margin: 7%;
  border-radius: 8px;
  font-size: 4.5rem;
}
.historycontent {
  background-color: rgb(240, 240, 240);
  width: 88%;
  margin: 2% 7% 2% 7%;
  border-radius: 8px;
  font-size: 3rem;
  background-color: #fff;
}
.historyfooter {
  margin-top: 2%;
  font-size: 3rem;
} 
