.homeMainText {
  position: relative;
  margin: auto;
  top: -2rem;
  margin-bottom: 1%;
  font-size: 8rem;
  width: fit-content;
  color: rgb(0, 0, 0);
  text-shadow: 4px 4px #ffffff;
}
.conn {
  /* background-image: url("../../public/img/ggae1.png"); */
  width: 100vw;
  height: 71vh;
  object-fit: contain;
}
#Grid {
  margin: auto;
  width: 76%;
  padding: 6%;
}
.selectBtn {
  border: none;
}
.selectImg {
  margin: auto;
  width: 23vw;
  height: 29.5vh;
  object-fit: cover;
}
.selectImg:hover {
  transform: scale(0.85);
}
.blur {
  filter: blur(5px);
  -webkit-filter: blur(5px);
}
