.selectImg {
  width: 25vw;
  height: 21vh;
  object-fit: contain;
}

#Grid {
  padding: 2% 7%;
}

.homeBtn {
  font-size: 30px;
  float: right;
}
.selectBtn {
  border: none;
  background-color: #fff;
}

button:hover {
  transition: 3s;
  transform: scale(1);
}
