.mainContainer {
  padding-top: 6%;
  padding-bottom: 3%;
  width: 100vw;
  height: 100vh;
  margin: auto;
}
.mainText {
  margin: auto;
  padding-bottom: 3%;
  font-size: 110px;
  width: fit-content;
}

.buttons {
  display: flex;
  justify-content: space-around;
}
.button1,
.button2,
.button3 {
  display: inline-block;
  width: 25vw;
  height: 60vh;
  border: 40px;
}

.txt {
  font-family: "Yeon Sung", cursive;
  text-align: center;
}
.btnText {
  font-size: 60px;
  width: fit-content;
  margin: auto;
  text-align: center;
}

body {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
