.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  backdrop-filter: blur(5px);
  background-color: #5c5c5c77;
}
.modalButton {
  padding: 0.6rem 1.2rem;
  margin: 0.3rem;
  /* bottom: 5%; */
  color: #fff;
  background-color: #6c757d;
  border-radius: 0.5rem;
  font-family: "Yeon Sung", cursive;
  font-size: 3rem;
  outline: none;
  cursor: pointer;
  border: 0;
}
.modal section {
  width: 35%;
  height: 80%;
  margin: 0 auto;
  border-radius: 0.5rem;
  background-color: #fff;
  animation: modal-show 0.3s;
  overflow: hidden;
}
.modal > section > header {
  position: relative;
  padding: 1.7rem 6.4rem 1.7rem 1.9rem;
  background-color: #d4d4d4;
  font-family: "Yeon Sung", cursive;
  font-weight: 1000;
  font-size: 3rem;
}
.modal > section > header button {
  position: absolute;
  top: 0.6rem;
  right: 1.4rem;
  width: 4rem;
  font-size: 5rem;
  font-weight: 700;
  text-align: center;
  color: rgb(0, 0, 0);
  background-color: transparent;
}
.modalMain {
  padding: 20px;
  font-family: "Yeon Sung", cursive;
  font-weight: 500;
  font-size: 2rem;
}
.modalFooter {
  padding: 12px 16px;
  text-align: center;
}
.modal.openModal {
  display: flex;
  align-items: center;
  animation: modal-bg-show 0.3s;
}
@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
