.qrContainer {
  text-align: center;
  margin-top: 7%;
  margin-bottom: 5%;
}
.qrMainText {
  position: relative;
  margin: auto;
  top: -3rem;
  font-size: 9rem;
  width: fit-content;
  color: rgb(0, 0, 0);
  text-shadow: 4px 4px #ffffff;
}
.qrText {
  position: relative;
  padding-top: 1%;
  margin: auto;
  font-size: 4rem;
  width: fit-content;
}
.qrimg {
  position: relative;
  padding-top: 3%;
  margin: auto;
  width: fit-content;
}
.qrButton {
  position: relative;
  margin: auto;
  font-size: 3.5rem;
  width: fit-content;
  background-color: #fff;
}
.qrFooter {
  padding-top: 3%;
}
