.qrContainer {
  text-align: center;
  margin-top: 7%;
  margin-bottom: 5%;
  width: 100vw;
  height: 70vh;
}
.qrMainText {
  position: relative;
  margin: auto;
  top: -1.5rem;
  font-size: 12rem;
  width: fit-content;
  color: rgb(0, 0, 0);
  text-shadow: 4px 4px #ffffff;
}
.qrText {
  position: relative;
  margin: auto;
  font-size: 4rem;
  width: fit-content;
}
.qrimg {
  position: relative;
  padding-top: 2%;
  padding-bottom: 1%;
  margin: auto;
  width: 19%;
}
.qrButton {
  position: relative;
  margin: auto;
  font-size: 3.5rem;
  width: fit-content;
  background-color: #fff;
  padding: 9px;
  border-radius: 1rem;
  transition: 0.25s;
}
.qrButton:hover {
  transition: 0.25s;
  background-color: #ffee83;
}
.qrFooter {
  padding-top: 1%;
}
