.bgImg {
    margin-top: 1.5%;
    width: 100vw;
    height: 93vh;
    object-fit: contain;
    
}

.SceneBox{
    text-align: center;
}

.Homebtn{
    position: absolute;
    right: 10%;
}
.mother2{
    position: absolute;
    left: 30%;
    bottom: 40%;
}
.brother{
    position: absolute;
    right: 70%;
    bottom: 40%;
}
.sister{
    position: absolute;
    right: 60%;
    bottom: 30%;
}

.tiger{
    position: absolute;
    right: 25%;
    bottom: 30%;
}