.gohome {
  position: absolute;
  background: rgb(255, 255, 255);
  text-align: center;
  top: 5%;
  right: 6%;
  z-index: 11;
  transition: 0.25s;
}

.gohome::before {
  content: "🖐🏻 그만하기";
  font-size: 2em;
  color: rgb(0, 0, 0);
}

.gohome:hover {
  transition: 0.25s;
  background-color: #ffee83;
  color: rgb(0, 0, 0);
}

.gohome:hover::before {
  content: "🏠 홈으로가자";
  font-size: 2em;
  color: rgb(0, 0, 0);
}
