.gohome {
  position: absolute;
  background: rgb(255, 255, 255);
  text-align: center;
  top: 5%;
  right: 7%;
  z-index: 11;
}

.gohome::before {
  content: "🖐🏻그만하자";
  font-size: 2em;
  color: rgb(0, 0, 0);
}

.gohome:hover {
  animation-play-state: paused;
  background: rgb(0, 109, 187);
}

.gohome:hover::before {
  content: "🏠홈으로가자";
  font-size: 2em;
  color: rgb(255, 255, 255);
}
