.bgImg {
    margin-top: 1.5%;
    width: 100vw;
    height: 93vh;
    object-fit: contain;
    
}

.SceneBox{
    text-align: center;
}

.Homebtn{
    position: absolute;
    right: 10%;
}
.word7{
    position: absolute;
    left: 30%;
    bottom: 5%;
    top: 18%;
    right: 30%;
    height: 50%;
    object-fit: contain;
    z-index: 10;
    opacity: 0;
    animation-name: word-pop, word-popout;
    animation-duration: 1s,1s;
    animation-delay: 6s,11s;
    animation-fill-mode: forwards;
    font-size:20rem;
    font-family: "Jua", sans-serif;
    text-shadow: -2px 0px white, 0px 2px white, 2px 0px white, 0px -2px white;
  }
  .popup7{
    position: absolute;
    top:0%;
    width: 100vw;
    height: 100vh;
    object-fit: contain;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9;
    opacity: 0;
    animation-name: word-pop, word-popout;
    animation-duration: 1s,1s;
    animation-delay: 6s,11s;
    animation-fill-mode: forwards;
  }

