.checkButton {
  padding-top: 1%;
  padding-bottom: 1%;
  margin: auto;
  width: 40%;
  height: 15wh;
  border: none;
  font-weight: bold;
  background-color: #9e30f4;
  border-radius: 4vh;
  color: white;
}

.titleWrap {
  margin: auto;
  padding-top: 10vh;
  padding-bottom: 5%;
  font-size: 2rem;
  font-weight: bold;
  font-family: "Yeon Sung", cursive;
  width: fit-content;
  color: rgb(0, 0, 0);
  margin-bottom: 4%;
}

.inputWrap {
  padding-right: 1%;
  margin-left: 4%;
  margin-right: 4%;
  display: flex;
  border-radius: 1vh;
  padding: 4%;
  margin-top: 2%;
  background-color: white;
  border: 1px solid #e2e0e0;
  margin-bottom: 2%;
}

.inputWrapCheck {
  padding-right: 1%;
  margin-left: 4%;
  margin-right: 4%;
  display: flex;
  border-radius: 1vh;
  padding: 4%;
  margin-top: 2%;
  background-color: white;
  border: 1px solid #e2e0e0;
  margin-bottom: 2%;
}

.inputTitle {
  margin-left: 5vw;
  font-size: 0.9rem;
  font-weight: 600;
  color: black;
}

.input {
  width: 100%;
  outline: none;
  border: none;
  height: 3vh;
  font-size: 1rem;
  font-weight: 400;
}

.errorMessageWrap {
  margin-left: 5%;
  color: #ef000e;
  font-size: 0.8rem;
}

.bottomButton {
  font-size: 1rem;
  margin: auto;
  width: 90%;
  height: 7vh;
  border: none;
  font-weight: bold;
  background-color: #9e30f4;
  border-radius: 4vh;
  color: white;
  margin-left: 5%;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.goLogin {
  position: absolute;
  align-items: center;
  margin-top: 3%;
  margin-left: 33%;
  text-decoration: none;
  background-color: #dadada;
  border: none;
  color: black;
  font-weight: bold;
  border-radius: 4vh;

}

.checkButton:disabled {
  background-color: #dadada;
  color: white;
}