.jemok {
  width: 1000px;
  margin: auto;
}

.container {
  width: 100vw;
  height: 100vh;
}

.row {
  display: flex;
  margin: auto;
}

.mainText {
  width: fit-content;
  margin: auto;
  font-size: 100px;
}

.mainBtn1,
.mainBtn2 {
  display: inline-block;
  width: 700px;
  height: 450px;
  margin: 40px;
}

.mainBtn3 {
  width: 700px;
  height: 150px;
}

.btnTxt {
  font-size: 60px;
  font-family: "Yeon Sung", cursive;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}
