.bgImg {
    margin-top: 1.5%;
    width: 100vw;
    height: 93vh;
    object-fit: contain;
    
}

.SceneBox{
    text-align: center;
}

.Homebtn{
    position: absolute;
    right: 10%;
}
.siblings18{
    position: absolute;
    left: 30%;
    bottom: 5%;
    top: 20%;
    right: 30%;
    height: 50%;
    width: 40vw;
    height: 40vh;
    object-fit: contain;
}
.mother18{
    position: absolute;
    left: 25%;
    bottom: 5%;
    top: 70%;
    right: 30%;
    height: 50%;
    width: 50vw;
    height: 50vh;
    object-fit: contain;
    animation-name: mother-move18;
    animation-duration: 4s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
}
@keyframes mother-move18 {
    from{
        transform: translate(0,0);
    }
    to{
        transform: translate(0,-70%);
    }
}