@keyframes changebg13 {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes changebg13-2 {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
 .bgImg13 {
    margin-top: 1.5%;
    width: 100vw;
    height: 93vh;
    object-fit: contain;
    animation-name: changebg13-2;
    animation-duration: 1s;
    animation-delay: 13s;
    animation-fill-mode: both;
    opacity: 1;
}

.bgImg13-2 {
    position:absolute;
    margin-top: 1.5%;
    width: 100vw;
    height: 93vh;
    object-fit: contain;
    animation-name: changebg13;
    animation-duration: 1s;
    animation-delay: 13s;
    animation-fill-mode: both;
    opacity: 0;
}

.SceneBox{
    text-align: center;
}

.Homebtn{
    position: absolute;
    right: 10%;
}

.oil{
    position: absolute;
    left: 35%;
    bottom: 5%;
    top: 18%;
    right: 40%;
    height: 50%;
    width: 20vw;
    height: 20vh;
    object-fit: contain;
    animation-name: changebg13-2;
    animation-duration: 5s;
    animation-delay: 13s;
    animation-fill-mode:both;
    animation-iteration-count: 1;
}

.tiger13{
    position: absolute;
    left: 20%;
    bottom: 5%;
    top: 40%;
    right: 40%;
    height: 50%;
    width: 60vw;
    height: 60vh;
    object-fit: contain;
    animation-name: changebg13 , tiger-move13;
    animation-duration: 1s,3s;
    animation-delay: 14s,15s;
    animation-fill-mode: both;
    opacity: 0;
    animation-iteration-count: 1,3;
}
@keyframes tiger-move13 {
    0%{
        transform: translate(0,0);
    }
    50%{
        transform: translate(0,-50%);
    }
    100%{
        transform: translate(0,0);
    }
}