.bgImg {
    margin-top: 1.5%;
    width: 100vw;
    height: 93vh;
    object-fit: contain;
    
}

.SceneBox{
    text-align: center;
}

.Homebtn{
    position: absolute;
    right: 10%;
}

.hole{
    position: absolute;

    top: 70%; /* 초기 위치값을 설정해줍니다. */

    left: 70%; /* 초기 위치값을 설정해줍니다. */

    width: 300%; /*원 가로사이즈*/

    height: 300%; /*원 세로사이즈*/

    transform: translate(-45%, -40%); /* 원을 정가운데로 맞추기위해서 축을-50%이동해줍니다.*/

}

.circle { /* 마우스를 따라다니는 원 설정*/

    position: absolute;

    top: 70%; /* 초기 위치값을 설정해줍니다. */

    left: 70%; /* 초기 위치값을 설정해줍니다. */

    width: 300%; /*원 가로사이즈*/

    height: 300%; /*원 세로사이즈*/

    transform: translate(-45%, -40%); /* 원을 정가운데로 맞추기위해서 축을-50%이동해줍니다.*/
    
}
