.bgImg {
    margin-top: 1.5%;
    width: 100vw;
    height: 93vh;
    object-fit: contain;
    
}

.SceneBox{
    text-align: center;
}

.Homebtn{
    position: absolute;
    right: 10%;
}

@keyframes well-move {
    0% { rotate: -200deg; }
    10% { rotate: -140deg; }
    20% { rotate: -160deg; }
    30% { rotate: -120deg;}
    40% { rotate: -70deg; }
    50% { rotate: -90deg;}
    60% { rotate: -60deg; }
    70% { rotate: -80deg; }
    80% { rotate: -40deg; }
    90% { rotate: -20deg; }
    100% { rotate: 0deg; }
}
.well{
    rotate: 100deg;
    position: absolute;
    left: -22%;
    bottom: 5%;
    top: 30%;
    right: 0%;
    height: 150%;
    z-index: -1;
    animation-name:well-move;
    animation-duration: 7s;
    animation-delay: 15s;
    animation-fill-mode: both;
    width: 140vw;
    height: 140vh;
    object-fit: contain;
}
.hidden{
    position: absolute;
    margin-top: -0.35%;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    background-image: url("../../public/img/bgimg.jpg");
}
