@keyframes changebg1 {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes changebg2 {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

.bgImg5 {
    margin-top: 1.5%;
    width: 100vw;
    height: 93vh;
    object-fit: contain;
    animation-name: changebg2;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-fill-mode: both;
    opacity: 1;
}
.bgImg5-2 {
    position:absolute;
    margin-top: 1.5%;
    width: 100vw;
    height: 93vh;
    object-fit: contain;
    animation-name: changebg1;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-fill-mode: both;
    opacity: 0;
}

.SceneBox{
    text-align: center;
}

.Homebtn{
    position: absolute;
    right: 10%;
}

@keyframes attack{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.attack5{
    position: absolute;
    left: 40%;
    bottom: 30%;
    animation-name : attack;
    animation-delay: 1s;
    animation-duration: 0.2s;
    opacity: 0;
    animation-fill-mode: both;
}

@keyframes tiger-change{
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
.before-tiger{
    position: absolute;
    margin-top: 1.5%;
    width: 100vw;
    height: 93vh;
    object-fit: contain;
    animation-name: changebg2;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: both;
    opacity: 1;
}

.tiger5{
    position: absolute;
    right: 0%;
    top: 0%;
    left: 0%;
    bottom: 0%;
    height: 100%;
    animation-name: changebg2;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-fill-mode: both;
    opacity: 1;
}
.word5{
    position: absolute;
    left: 30%;
    bottom: 5%;
    top: 18%;
    right: 30%;
    height: 50%;
    object-fit: contain;
    z-index: 10;
    opacity: 0;
    animation-name: word-pop, word-popout;
    animation-duration: 1s,1s;
    animation-delay: 10s,15s;
    animation-fill-mode: forwards;
    font-size:20rem;
    font-family: "Jua", sans-serif;
    text-shadow: -2px 0px white, 0px 2px white, 2px 0px white, 0px -2px white;
  }
  .popup5{
    position: absolute;
    top:0%;
    width: 100vw;
    height: 100vh;
    object-fit: contain;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9;
    opacity: 0;
    animation-name: word-pop, word-popout;
    animation-duration: 1s,1s;
    animation-delay: 10s,15s;
    animation-fill-mode: forwards;
  }