.bgImg {
    margin-top: 1.5%;
    width: 100vw;
    height: 93vh;
    object-fit: contain;
    
}

.SceneBox{
    text-align: center;
}

.Homebtn{
    position: absolute;
    right: 10%;
}
.mother2{
    position: absolute;
    left: -5%;
    bottom: 30%;
    top: 25%;
    right: 80%;
    height: 35%;
    animation-name: mother2-move;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: both;
    width: 40vw;
    height: 40vh;
    object-fit: contain;

}
@keyframes mother2-move{
    from{
        transform: translate(0,0);
    }
    to{
        transform: translate(50%,30%);
    }
}

.tree{
    position: absolute;
    left: 10%;
    bottom: 30%;
    top: 15%;
    right: 80%;
    width: 60%;
    height: 60%;
    width: 70vw;
    height: 70vh;
    object-fit: contain;
}
.tiger2{
    position: absolute;
    left: 40%;
    bottom: 10%;
    top: 40%;
    right: 20%;
    height: 60%;
    animation-delay: 4s;
    animation-duration: 3s;
    animation-name: tiger-move2;
    opacity: 0;
    animation-fill-mode: both;
    width: 60vw;
    height: 60vh;
    object-fit: contain;
}

@keyframes tiger-move2 {
    from {                              
        transform: translate(0,0);
        opacity: 0;
    }
    to {
        transform: translate(-150px,-100px);
        opacity: 1;
    }
}
